In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import log_loss
from tqdm import tqdm_notebook
from lightgbm import LGBMClassifier
from sklearn.decomposition import PCA
from functools import reduce
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Loading files
df = pd.read_csv('radiant_pixels.csv')
sample_submission = pd.read_csv('SampleSubmission.csv')
train = df[df.crop_type != 0]
test = df[df.crop_type == 0]
target = train.crop_type
train.head()

   Field ID  crop_type      0_B01  ...      24_B11     24_B12  24_CLM
0         1          4  17.972797  ...   87.061109  64.932540     0.0
1         2          7  57.678261  ...  101.711739  84.580435     0.0
2         3          6  25.681465  ...  124.671285  95.122712     0.0
3         4          8  30.585099  ...  112.230596  87.828079     0.0
4         6          4  17.842500  ...   83.221875  52.267500     0.0

[5 rows x 327 columns]

### Bands

In [ ]:
# Sentinel 2 band description

# Band 1 - Coastal aerosol	0.443	60
# Band 2 - Blue	0.490	10
# Band 3 - Green	0.560	10
# Band 4 - Red	0.665	10
# Band 5 - Vegetation Red Edge	0.705	20
# Band 6 - Vegetation Red Edge	0.740	20
# Band 7 - Vegetation Red Edge	0.783	20
# Band 8 - NIR	0.842	10
# Band 8A - Vegetation Red Edge	0.865	20
# Band 9 - Water vapour	0.945	60
# Band 10 - SWIR - Cirrus	1.375	60
# Band 11 - SWIR	1.610	20
# Band 12 - SWIR

In [ ]:
# Getting the bands
B01, B02, B03, B04, B05 = df.filter(regex='._B01'), df.filter(regex='._B02'), df.filter(regex='._B03'), df.filter(regex='._B04'), df.filter(regex='._B05')
B06, B07, B08, B8A, B09 = df.filter(regex='._B06'), df.filter(regex='._B07'), df.filter(regex='._B08'), df.filter(regex='._B8A'), df.filter(regex='._B09')
B11, B12 = df.filter(regex='._B11'), df.filter(regex='._B12')

In [ ]:
# Formulas for different vegetation indices
def aci(i): return B08.values[:, i] * (B04.values[:, i] + B03.values[:, i])
def avi (i): return (B08.values[:, i] * (1 - B04.values[:, i]) * (B08.values[:, i] - B04.values[:, i]))
def bai (i): return 1/((0.1 - B04.values[:, i]) ** 2 + (0.06 - B08.values[:, i]) ** 2)
def bgi (i): return B01.values[:, i] / B03.values[:, i]
def bri (i): return B01.values[:, i] / B05.values[:, i] 
def ccci (i): return ((B08.values[:, i] - B05.values[:, i]) / (B08.values[:, i] + B05.values[:, i])) / ((B08.values[:, i] - B04.values[:, i]) / (B08.values[:, i] + B04.values[:, i]))
def cm (i): return B11.values[:, i] / B12.values[:, i]
def dyi (i): return B03.values[:, i] - B02.values[:, i]
def evi (i): return 2.5*(B08.values[:, i] - B04.values[:, i]) / (B08.values[:, i] + 6*B04.values[:, i] - 7.5*B02.values[:, i] + 1)
def exg (i): return 2 * B03.values[:, i] - B04.values[:, i] - B02.values[:, i]
def fidet (i): return B12.values[:, i] / (B8A.values[:, i] * B09.values[:, i])
def mcari (i): return ((B05.values[:, i] - B04.values[:, i]) - 2 * (B05.values[:, i] - B03.values[:, i])) * (B05.values[:, i] / B04.values[:, i]) 
def mi (i): return (B8A.values[:, i] - B11.values[:, i]) / (B8A.values[:, i] + B11.values[:, i])
def mrendvi (i): return (B06.values[:, i] - B05.values[:, i]) / (B06.values[:, i] + B05.values[:, i] - 2 * B01.values[:, i])
def mresr (i): return (B06.values[:, i] - B01.values[:, i]) / (B05.values[:, i] - B01.values[:, i])
def mtci (i): return (B06.values[:, i] - B05.values[:, i])/(B05.values[:, i] - B04.values[:, i])
def mtvi (i): return [1.5*(1.2 * (a - b) - 2.5 * (c - b))* math.sqrt((2 * a + 1)**2-(6 * a - 5 * math.sqrt(c)) - 0.5) for a, b, c in zip(B08.values[:, i], B03.values[:, i], B04.values[:, i])]
def nbr (i): return (B08.values[:, i] - B11.values[:, i]) / (B08.values[:, i]+ B11.values[:, i])
def ndsi (i): return (B03.values[:, i] - B11.values[:, i]) / (B03.values[:, i] + B11.values[:, i])
def nli (i): return (B08.values[:, i] **2 - B04.values[:, i]) / (B08.values[:, i] **2 + B04.values[:, i])
def ndmi (i): return (B08.values[:, i] - B11.values[:, i])/(B08.values[:, i] + B11.values[:, i])
def pvi (i): return (B08.values[:, i] - 0.3 * B04.values[:, i] - 0.5) / (math.sqrt(1 + 0.3 * 2))
def s2rep (i): return 705 + 35 * ((((B07.values[:, i] + B04.values[:, i])/2) - B05.values[:, i])/(B06.values[:, i] - B05.values[:, i]))
def si (i): return ((1 - B02.values[:, i]) * (1 - B03.values[:, i]) * (1 - B04.values[:, i]))
def sipi (i): return (B08.values[:, i] - B02.values[:, i]) / (B08.values[:, i] - B04.values[:, i])
def sr3 (i): return B05.values[:, i] / B04.values[:, i]
def tcari (i): return 3 * ((B05.values[:, i] - B04.values[:, i]) - 0.2 * (B05.values[:, i] - B03.values[:, i]) * (B05.values[:, i] / B04.values[:, i]))
def tvi (i): return (120 * (B06.values[:, i] - B03.values[:, i]) - 200 * (B04.values[:, i] - B03.values[:, i])) / 2
def vdvi (i): return (2 * B03.values[:, i] - B04.values[:, i] - B02.values[:, i]) / (2 * B03.values[:, i] + B04.values[:, i]  + B02.values[:, i])

In [ ]:
# Helper functions
num_dates = 25
bin_labels = list(range(3))
indices_df = []

# Function to convert continuos vegetation into a category via pca
def cat_indices(indice):
  return pd.cut(PCA(1).fit_transform(pd.DataFrame(indice)).flatten(), len(bin_labels), labels = bin_labels)
# Calculating indices
def indice_calculator(func_name, indice_name):
  holder = []
  for i in range(num_dates):
    holder.append(func_name(i))
  indice_df = pd.DataFrame(np.array(holder).T, columns = [indice_name + '_date_' + str(i) for i in range(1, num_dates+1)])
  differences_df = pd.DataFrame(indice_df.diff(axis = 1))
  differences_df.columns = ['difference_'+indice_name +'_'+ str(i) for i in range(num_dates)]
  indice_df['cat_' + indice_name] = cat_indices(np.nan_to_num(np.array(holder).T, nan=10, posinf=10, neginf=10)) 
  indice_df = pd.merge(indice_df, differences_df, how = 'left', left_index=True, right_index=True)
  return indice_df

In [ ]:
# A list of all indices
indices = [(aci, 'aci'), (avi, 'avi'), (bai, 'bai'), (bgi, 'bgi'), (bri, 'bri'), (ccci, 'ccci'), (cm, 'cm'), (dyi, 'dyi'), (evi, 'evi'), (exg, 'exg'),\
           (fidet, 'fidet'), (mcari, 'mcari'), (mi, 'mi'), (mrendvi, 'mrendvi'), (mresr, 'mresr'), (mtci, 'mtci'), (mtvi, 'mtvi'), (nbr, 'nbr'), \
           (ndsi, 'ndsi'), (nli, 'nli'), (ndmi, 'ndmi'), (pvi, 'pvi'), (s2rep, 's2rep'), (si, 'si'), (sipi, 'sipi'), (sr3, 'sr3'), (tcari, 'tcari'),\
           (tvi, 'tvi'), (vdvi, 'vdvi')]

# Calculating theindices
indices_dfs = []
for indice in indices:indices_dfs.append(indice_calculator(indice[0], indice[1]))  

# Merging the indices dataframes
indices_df = reduce(lambda  left,right: pd.merge(left,right,right_index=True, left_index=True,how='outer'), indices_dfs)
indices_df.head()

     aci_date_1   aci_date_2  ...  difference_vdvi_23  difference_vdvi_24
0   3964.794578  3092.632459  ...           -0.008270            0.015501
1  13221.678692  5719.782079  ...           -0.005663            0.012951
2  10108.172467  3611.055177  ...           -0.001585            0.015033
3   6245.544862  8695.338061  ...           -0.011139            0.012168
4   5360.217114  4724.216441  ...            0.012391           -0.013260

[5 rows x 1479 columns]

### Handling Categorical Features

In [ ]:
# Transform categorical features into the appropriate type
categorical_features = [x for x in indices_df.columns if 'cat' in x]
for feature in categorical_features: indices_df[feature] = indices_df[feature].astype('category')
indices_df[[x for x in indices_df.columns if 'cat' in x]].dtypes

cat_aci        category
cat_avi        category
cat_bai        category
cat_bgi        category
cat_bri        category
cat_ccci       category
cat_cm         category
cat_dyi        category
cat_evi        category
cat_exg        category
cat_fidet      category
cat_mcari      category
cat_mi         category
cat_mrendvi    category
cat_mresr      category
cat_mtci       category
cat_mtvi       category
cat_nbr        category
cat_ndsi       category
cat_nli        category
cat_ndmi       category
cat_pvi        category
cat_s2rep      category
cat_si         category
cat_sipi       category
cat_sr3        category
cat_tcari      category
cat_tvi        category
cat_vdvi       category
dtype: object

### Separating training and test sets

In [ ]:
train_indices = indices_df.loc[train.index]
test_indices= indices_df.loc[test.index]
train_indices.head()

     aci_date_1   aci_date_2  ...  difference_vdvi_23  difference_vdvi_24
0   3964.794578  3092.632459  ...           -0.008270            0.015501
1  13221.678692  5719.782079  ...           -0.005663            0.012951
2  10108.172467  3611.055177  ...           -0.001585            0.015033
3   6245.544862  8695.338061  ...           -0.011139            0.012168
4   5360.217114  4724.216441  ...            0.012391           -0.013260

[5 rows x 1479 columns]

### Model training - Indices

In [ ]:
# Model parameters
lgbm_params = {
    'n_estimators': 50000,
    'learning_rate': 0.05,
    'colsample_bytree': 0.2,
    'subsample': 0.2,
    'reg_alpha': 10,
    'reg_lambda': 5,
    'num_leaves': 20,
    'early_stopping_rounds': 300,
    'n_jobs': -1,
    'objective': 'multiclass',
    'boosting': 'gbdt',
    'feature_name': 'auto',
    'categorical_features': 'auto'
}

# Training lgbm model
indices_oof_predictions, loss = [], []
for train_index, test_index in StratifiedKFold(n_splits=10).split(train_indices, target):
  X_train, X_test, y_train, y_test = train_indices.iloc[train_index], train_indices.iloc[test_index], target[train_index], target[test_index]

  lgbm = LGBMClassifier(**lgbm_params)
  lgbm.fit(X_train, y_train, eval_set = [(X_test, y_test)], verbose = False)

  indices_oof_predictions.append(lgbm.predict_proba(test_indices))
  loss.append(log_loss(y_test, lgbm.predict_proba(X_test)))
  print('Loss: ', log_loss(y_test, lgbm.predict_proba(X_test)))

print('Indices Cross Validation Loss: ', np.mean(loss))

Loss:  0.5834403772828316
Loss:  0.6018028414877727
Loss:  0.6013919483549625
Loss:  0.5725120111449334
Loss:  0.5857960997761713
Loss:  0.5889456157105445
Loss:  0.593295276793316
Loss:  0.5903724833468865
Loss:  0.5880075664655969
Loss:  0.5900769135507116
Indices Cross Validation Loss:  0.5895641133913727

### Submission file preparation

In [ ]:
# Submission file preparation
submission_file = pd.DataFrame({'Field ID': test['Field ID']})
for i, j in enumerate(sample_submission.columns[1:]):
  submission_file[j] = np.mean(indices_oof_predictions, 0)[:, i]

submission_file.to_csv('LGBM_SUB.csv', index = False)
submission_file.head()

       Field ID  Crop_Lucerne/Medics  ...  Crop_Canola  Crop_Rooibos
87113         5             0.000168  ...     0.000914      0.000005
87114        10             0.121958  ...     0.001453      0.001055
87115        11             0.201377  ...     0.012085      0.002308
87116        17             0.003301  ...     0.000294      0.085022
87117        18             0.000211  ...     0.000335      0.000248

[5 rows x 10 columns]